<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129943256555-cicq9gtnqa7pqruigf292ji0arpsbq5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129943256555-cicq9gtnqa7pqruigf292ji0arpsbq5n</string>
	<key>API_KEY</key>
	<string>AIzaSyCcihGQjSgiH6kfZ9RV45qBiZH6oo4PHAI</string>
	<key>GCM_SENDER_ID</key>
	<string>129943256555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBarcode3</string>
	<key>PROJECT_ID</key>
	<string>pickypal-ddcca</string>
	<key>STORAGE_BUCKET</key>
	<string>pickypal-ddcca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129943256555:ios:20ad218ce28d2b89f7adae</string>
</dict>
</plist>